#Requests .err {
    color: red;
}

#Requests > .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

#Requests .header {
    display: block;
}