#Home {
    height: 100%;
}

#Home .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow:hidden;
}

#Home .container>div {
    padding: 1rem;
}

#Home .title {
    color: #0D6CF2;
    font-size: 2rem;
    font-weight: bold;
}

#Home .btn-section {
    background-color: #0D6CF2;
    border-radius: 1rem;
}

#Home .login-btn {
    color: white;
}